<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="login.css">
    <title>Login Page</title>
</head>
<body>
    <div class="login-container">
        <div class="title">
            <h1>Change Management Portal</h1>
        </div>
        <h2>Login</h2>
        <form action="/login" method="POST" class="form-body">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="role">Role</label>
                <select id="role" name="role">
                    <option value="Admin">Admin</option>
                    <option value="Employee">Employee</option>
                    <option value="Change-team">Change Team</option>
                    <option value="Manager">Manager</option>
                    <option value="Resource-manager">Resource Manager</option>
                </select>
            </div>
            <div class="form-group">
                <button class="login-button" type="submit">Login</button>
            </div>
           
        </form>
    </div>
</body>
</html>
