<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket</title>
    <link rel="stylesheet" href="ticket.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div>
                <h1>Ticket Generation</h1>
            </div>
            <div class="cancel">
                <a href="profile"><button class="cancel-button">Cancel</button></a>
            </div>
        </div>

        <div class="container2">
            <form class="ticketform" id="ticketform" action="" method="POST">

                <div class="data format1">
                    <div>
                        <label for="nameofraiser"><strong>Ticket Raised by:</strong></label>
                        <input type="text" id="nameofraiser" name="nameofraiser" class="inp">
                    </div>
                    <div>
                        <label for="ticketnumber"><strong>Ticket Number:</strong></label>
                        <input type="number" id="ticketnumber" name="ticketnumber" class="inp">
                    </div>
                    <div>
                        <label for="date"><strong>Date of Raising Ticket:</strong></label>
                        <input type="date" id="date" name="date" class="inp">
                    </div>
                    <div>
                        <label for="subject"><strong>Subject</strong></label>
                        <input type="text" id="subject" name="subject" class="inp">
                    </div>
                    <div>
                        <label for="description"><strong>Description</strong></label>
                        <textarea name="description" id="description" class="inp"></textarea>
                    </div>
                    <div>
                        <label for="doc"><strong>Link Document</strong></label>
                        <input type="file" name="doc" id="doc" class="inp">
                    </div>
                </div>
                <div><input type="submit" value="Submit" id="submit" ></div>
            </form>
        </div>
    </div>
</body>
</html>
